.header{
    margin: 20px 0px 20px 0px;
    font-size: 275%;
    font-weight: bold;
    color: white;
    background: rgb(193,53,7);
    background: linear-gradient(90deg, rgba(219, 78, 31, 0.984) 0%, rgba(200,37,71,1) 35%, rgb(175, 7, 44) 100%);
    width: 500px;
    border-radius: 100px;
    text-align:center;
    font-family: "Raleway";
    letter-spacing:2px;
}

.bio-box {
    height: 960px;
    background-color:#1c2d50;
    color:white;
    list-style-type: none;
    border-radius: 4px;
}

div.container-fluid {
    font-family:'Merriweather';
}  

#bio-text {
    font-size: 30px;
    color: white;
}

.bio-list-item{
    word-spacing: 5px;
    margin: 0px 0px 25px 5px;
}

p#resume-link {
    padding-top: 0px !important;
    color: white;
    font-size: 35px !important;
}

img.contact-me-logo {
  height:100px;
  width: 100px;
  background-color:white;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 150px;
}

.contact-container {
    display: inline-block;

}

.empty-box {
    background-image: url("../images/backsplash2.jpg");
    background-color: #cccccc;
    object-fit: contain;
    border-radius: 3px;
}

.row.empty-box {
    height: 220px;
}

.row {
    margin-bottom: 30px
}

.tech-box {
    border-radius: 4px;
    background-color:#1c2d50;
    color:rgb(255, 255, 255);
    list-style-type: none;
    margin-top: 30px;
    padding:20px;
    margin-bottom: 50px;
}

#tech-header {
    width: 500px;
    height: 100px;
}

#contact-header {
    width: 500px;
    height: 50px;
}

#picture-box {
    height: 100%;
}

img.pic {
    width: 90%;
    height: 275px;
    object-fit: cover;
    padding:10px;
    border-radius: 200px;
}

.picture-column {
    text-align:center;
}

#picture-grid {
    background-color: rgb(231, 238, 240);
    margin-left: 50px;
}

ul {
    list-style-type: none;
}

ul#logos {
    margin:0;
    -webkit-column-count: 4;  
    -moz-column-count: 4; 
    column-count: 4;
}

li.logo {
    padding: 10px;
    font-size: 35px;
    text-align: center;
}

img.logo {
    border-radius:5px;
}

@media only screen and (max-width: 1025px) {

    img.pic {
        width: 100%;
        height: 300px;
        margin-top: 0px;
    }

    ul#logos {
        margin:0;
        -webkit-column-count: 2;  
        -moz-column-count: 2; 
        column-count: 2;
    }

    li.logo {
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }

    .header{
        width: 300px;
        font-size:175%
    }

    #tech-header {
        width: 510px;
        height: 80px;
    }

    #bio-text {
        font-size: 20px;
        color: white;
    }

    img.contact-me-logo {
        height:100px;
        width: 100px;
        background-color:white;
        border-radius: 15px;
        margin-left: 0px;
        margin-right: 0px;
      }
    .bio-box {
        height: 800px;
        background-color:#1c2d50;
        color:white;
        list-style-type: none;
        border-radius: 4px;
    }
    .row.empty-box {
        height: 100px;
    }
  }

@media only screen and (max-width: 480px) {

    img.pic {
    width: 100%;
    height: 300px;
    margin-top: 0px;
    }

    #bio-text {
        font-size: 20px;
        color: white;
    }

    .header{
        width: 300px;
    }

    #tech-header {
        width: 300px;
        height: 100px;
    }

    ul#logos {
        margin:0;
        -webkit-column-count: 1;  
        -moz-column-count: 1; 
        column-count: 1;
    }

    li.logo {
        padding: 10px;
        font-size: 20px;
        text-align: center;
    }

  }

