div.react-3d-carousel {
  margin-top: 75px;
}

.slider-single-content {
  background-color: white;
}

.slider-single-content:hover {
  background-color: #e2e5eb;
}

img {
  height: 500px;
  width: 700px;
}

p.project-description {
  font-family: "Raleway";
  letter-spacing: 2px;
  font-size: 20px !important;
  word-spacing: 5px;
  text-align:center;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color:#1c2d50 !important;
}

@media only screen and (max-width: 600px) {
  img {
    height: 200px;
    width: 300px;
  }
}