footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100px;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  background-color: #1c2d50;
}

p#footer-text {
  color: white;
  font-size: 30px !important; 
}



  

